version: '2'

services:
  db:
    image: bitnami/mysql:8.2
    command: mysqld --sql_mode="TRADITIONAL" --character-set-server=utf8 --collation-server=utf8_general_ci --log-bin-trust-function-creators=1
    restart: always
    environment:
      MYSQL_DATABASE: openmrs
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql
      - ./db-init-data:/docker-entrypoint-initdb.d
    ports:
      - "${MYSQL_DEV_PORT}:3306"

  web:
    depends_on:
      - db

volumes:
  db-data:
